start.sh
start.bat
node_modules
build
.DS_Store
.cache
.wrangler
public

/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/metafile.*
/functions/version.txt
/public/build
.dev.vars