@font-face {
    font-family: 'Mona Sans';
    src:
        url('https://cdn.amazingca.dev/assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
        url('https://cdn.amazingca.dev/assets/fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}
  @font-face {
    font-family: 'Hubot Sans';
    src:
        url('https://cdn.amazingca.dev/assets/fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
        url('https://cdn.amazingca.dev/assets/fonts/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}
body {
    margin: 0rem;

    --accent-primary: #0099FFFF;
    --accent-secondary: #3b82f6FF;

    --primary-accent: linear-gradient(to bottom right, #0099ffAA, #3b82f6FF);
    --secondary-accent: linear-gradient(to bottom right, #102D3EFF, #1C2A3CFF);

    --accent-primary: #0099FF;

    --sidebar-background: #1a1a1a;
    --background-primary: #fff;

    --title-primary: #ddd;
    --title-accent: linear-gradient(to bottom right, var(--accent-primary), var(--accent-secondary));

    --action-item-primary: #fff;
    --action-item-secondary: #ddd;

    --action-icon-primary: #fff;
    --action-icon-background: #2a2a2a;
    --action-icon-background-secondary: #fff;

    --login-button-primary: #222;
    --login-button-background: #fff;

    --header-primary: #1a1a1a;

    --input-box-accent: #0099ff54;
    --input-box-focus: #0099FF99;

    --input-name: #fff;
    --input-accent: linear-gradient(to top, var(--accent-primary) 30%, var(--accent-secondary));

    --record-background: #f5f5f5;
    --record-author-name: #222;
    --record-author-handle: #555;
    --record-text-primary: #000;
    --record-metrics-icon: #555;
    --record-metrics-text: #000;

    --footer-primary: #555;
    
    --transition-main: 0.1s cubic-bezier(0.3,0.09,0.46,1.01) 0s;

    background-color: var(--background-primary);

    transition: var(--transition-main);
}
body.dark {

    --background-primary: #000;

    --header-primary: #ddd;

    --record-background: #1a1a1a;
    --record-author-name: #fff;
    --record-author-handle: #ddd;
    --record-text-primary: #fff;
    --record-metrics-icon: #ddd;
    --record-metrics-text: #fff;

    --footer-primary: #fff;
}
#main {
    display: grid;
    grid-template-areas:
        "devBanner devBanner devBanner"
        "SideBar Center FooterBar";
    grid-template-rows: 0rem auto;
    grid-template-columns: 1.25fr minmax(12rem, 1.25fr) 1fr;
    column-gap: 2rem;
    height: 100vh;
}
.devBanner {
    grid-area: devBanner;

    width: -webkit-fill-available;
    background-color: lightsalmon;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 750 !important;
    color: white;
    font-family: "Hubot Sans";
    display: flex;
    align-items: stretch;
    gap: 1rem;
}
h1, h2, h3, a1, f1, p, a, .InputName, .InputEntry {
    font-family: "Mona Sans";
}
h1 {
    font-size: 2rem;
    font-weight: 900 !important;
}
h2 {
    font-size: 1.5rem;
    color: var(--action-item-primary);
    font-weight: 750 !important;
}
h3 {
    font-size: 1.25rem;
    color: var(--sidebar-background);
    font-weight: 700 !important;
}
p, a {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    color: var(--record-text-primary);
    font-weight: 400 !important;
}
p.DisplayName, a.Handle {
    font-size: 1.25rem;
    color: var(--record-author-name);
    font-weight: 700 !important;
}
p.Handle {
    font-weight: 550 !important;
}
.Profile .Details .DisplayName, .Profile .Details .Handle {
    font-size: 1.35rem;
}
p.Handle, a.Handle {
    color: var(--record-author-handle);
}
a.Handle {
    font-weight: 600 !important;
}
.PostHeader .Timestamp {
    color: var(--record-author-handle);
}
.Metrics div p {
    font-weight: 600 !important;
}
.Metrics div p.Accent {
    color: var(--record-author-handle);
}
f1, a1 {
    font-size: 1rem;
    color: var(--footer-primary);
    font-weight: 400 !important;
}
p.DisplayName a, p.Handle a, f1 a, a1 a {
    color: inherit;
    font-weight: 500 !important;
    text-underline-offset: 0.1rem;
}
.InputName {
    color: var(--input-name);
    font-weight: 750 !important;
}
.InputEntry {
    color: var(--header-primary);
    font-weight: 750 !important;
}
.SideBar {
    grid-area: SideBar;
    
    background-color: var(--sidebar-background);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2rem;
    padding-top: 2rem;
}
.About, .Acknowledgments, .Feed, .UserProfile, .UserPost, .Login, .Settings, .Unsupported {
    grid-area: Center;

    max-width: 42rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    overflow-y: scroll;
    scrollbar-width: none;
}
.Login, .Settings {
    gap: 1rem;
}
.Feed, .UserProfile, .UserPost {
    gap: 2rem;
}
.SideBar-Heading {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.Title {
    display: flex;
    gap: 0.5rem;
}
.TitleAccent, body.dark .LoginWith h2 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.TaskBar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 23rem;
    margin-top: 4rem;
}
.ActionItem {
    display: flex;
    gap: 1rem;
}
.ActionItem, .LoginWith {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
.ActionIcon {
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 50%;
}
.ActionIcon, .LoginWith, .InputPointer {
    transition: var(--transition-main);
    cursor: pointer;
}
.ActionItem:hover .ActionIcon {
    transform: scale(1.05);
}
.ActionIcon:hover {
    transform: scale(1.05);
}
.ActionItem:active .ActionIcon {
    transform: scale(0.95);
    box-shadow: 0 0 10px 0px #000;
}
.ActionIcon:active {
    transform: scale(0.95);
    box-shadow: 0 0 10px 0px #000;
}
body.dark .ComposeIcon, .ActionItem:hover .ComposeIcon, .ActionItem:active .ComposeIcon {
    background-image: var(--secondary-accent);
    background-clip: padding-box;
}
.UserBar {
    display: flex;
    gap: 2rem;
}
.LoginWith {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    width: 17rem;
    height: 4rem;
    border-radius: 4rem;
    background-color: var(--login-button-background);
}
.LoginWith:hover, .InputPointer:hover {
    transform: scale(1.015);
}
.LoginWith:active, .InputPointer:active {
    transform: scale(0.985);
}
.LoginWith:active {
    box-shadow: 0 0 10px 0px #000;
}
body.dark .LoginWith {
    background-image: var(--secondary-accent);
    background-color: currentcolor;
}
body.dark .LoginWith h2 {
    background-image: var(--primary-accent);
}
.LoginWith h2 {
    color: var(--login-button-primary);
}
.Header {
    display: flex;
    padding-top: 2rem;
}
.Header h1 {
    color: var(--header-primary);
}
.CenterSpacer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.InputName {
    font-size: 1.25rem;
    background-image: var(--input-accent);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: -1rem;
    width: max-content;
    height: 2.25rem;
}
.InputEntry {
    width: 20.75rem;
    height: 3.5rem;
    font-size: 1.5rem;
    background-color: var(--background-primary);
    border: 0.2rem solid var(--accent-primary);
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    outline: none;
    box-shadow: 0 0 20px 4px var(--input-box-accent);
    transition: var(--transition-main);
}
.InputEntry:focus {
    box-shadow: 0 0 20px 3px var(--input-box-focus);
}
.InputPointer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: var(--accent-primary);
    width: 3rem;
    height: 2rem;
    border-radius: 1rem;
    margin-top: -3rem;
    margin-left: 19rem;
}
.InputPointerIcon {
    width: 1.5rem;
    height: 1.5rem;
}
.Post, .Profile {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: var(--record-background);
    padding: 0.75rem;
    border-radius: 0.75rem;
}
.Post .PostHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.PostHeader a.Timestamp {
    text-decoration: none;
}
.PostHeader a.Timestamp:hover {
    text-decoration: underline;
}
.Post .Author {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.Post .Author .Avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.Post .Author, .Profile .Details p {
    overflow: hidden;
    text-overflow: ellipsis;
}
.PostFooter {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
.PostFooter .Metrics {
    display: flex;
    justify-content: space-between;
    max-width: 25rem;
    gap: 1rem;
}
.PostFooter .Metrics div {
    display: flex;
    gap: 0.5rem;
    width: 5rem;
}
.PostFooter .Metrics div p {
    color: var(--record-metrics-text);
}
.PostFooter div svg {
    width: 1.25rem;
    height: 1.25rem;
}
.UserProfile .NoView {
    margin-top: 2rem;
}
.Profile {
    padding: 0rem;
    margin-top: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.Profile .Banner {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}
.Profile .Details {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.Profile .Inline {
    padding: 0.75rem;
    margin-top: -4.5rem;
}
.Profile .Avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.2rem solid var(--record-background);
    background: var(--record-background);
}
.Profile .Details .Metrics {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.Profile .Details .Metrics div {
    display: flex;
    gap: 0.25rem;
}
.FooterBar {
    grid-area: FooterBar;

    top: 0rem;
    bottom: 0rem;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-end;

    user-select: none;
    -webkit-user-select: none;
}
.Footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
input[type="password"] {
    letter-spacing: 0.25rem;
}
@media screen and (max-width: 1280px) {
    #main {
        grid-template-columns: 8rem 1.25fr 1fr;
    }
    .Title {
        display: none;
    }
    .TaskBar {
        align-items: flex-end;
        margin-top: 0rem;
    }
    .ActionItem h2 {
        display: none;
    }
}
@media screen and (max-width: 722px) {
    #main {
        grid-template-areas:
            "devBanner devBanner devBanner"
            "SideBar Center Center";
    }
    .devBanner {
        align-items: center;
    }
    .About, .Acknowledgments, .Feed, .UserProfile, .UserPost, .Login, .Settings, .Unsupported {
        padding-right: 2rem;
    }
    .FooterBar {
        display: none;
    }
}
@media screen and (max-width: 565px) {
    #main {
        grid-template-areas: 
            "devBanner"
            "Center";
        grid-template-columns: 100vw;
    }
    .About, .Acknowledgments, .Feed, .UserProfile, .UserPost, .Login, .Settings, .Unsupported {
        padding: 1rem;
    }
    .Login, .Settings {
        gap: 0rem;
    }
    .Feed, .UserProfile, .UserPost {
        gap: 1rem;
    }
    .SideBar {
        display: none;
    }
    .Header {
        padding-top: 0rem;
    }
    .InputEntry {
        width: -webkit-fill-available;
    }
    .InputPointer {
        margin-left: auto;
        margin-right: 1rem;
    }
    .Profile {
        margin-top: 0rem;
    }
    input[type="password"] {
        letter-spacing: 0rem;
    }
}
.ActionIcon svg {
    width: 2rem;
    height: 2rem;
}
input {
    padding-block: 1px;
}
input:disabled {
    opacity: 1.0;
}